// Fonts
$defaultFont: 'Hind Siliguri', sans-serif;
$defaultFontSecond: "PT Sans", sans-serif;

// Colors
$defaultColor: #637381;
$defaultDarkColor: #030303;
$defaultLightColor: #9fa5a9;
$defaultLighterColor: #f0f2f3;
$borderColor: lighten($defaultColor, 60%);

$primaryColor: #92278f;
$primaryDarkColor: #731f71;
$primaryLightColor: #cb3cc7;
$primaryLighterColor: #fdf6fc;

$secondaryColor: #3F4D68;
$secondaryLightColor: #657086;
$secondaryLighterColor: #ebedef;

/*$secondaryColor: #8cc543;
$secondaryLightColor: #b1d77f;
$secondaryLighterColor: #fafcf7;*/

$orangeColor: #ff7a01;
$orangeLightColor: #ffcd86;
$orangeLighterColor: #ffebce;

$purpleColor: #8c52ff;
$lightGreenColor: #b1d328;
$blueColor: #38b6ff;
$blueLightColor: #e1f4ff;
$yellowColor: #ffde59;
// $orangeColor: #ff914d;
$orangeLightColor: #ffefe4;

$redColor: #DA2002;
$grayColor: #f4f4f4;

